body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Courier New", monospace;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
	color: #fa73ff;
}

a:visited {
	color: #f337fa
}

h2 {
	text-align: center;
	font-family: sans-serif;
}

h3 {
	text-align: center;
	font-family: sans-serif;
}

.header {
	width: 700px;
	margin: auto;
	text-align: center;
	background-color: #454545;
	padding: 15px;
	box-sizing: border-box;
	font-size: 30px;
	font-family: sans-serif;
}

.topnav {
	width: 700px;
	margin: auto;
	text-align: center;
	background-color: #454545;
	padding: 15px;
	box-sizing: border-box;
	font-size: 20px;
}

.content {
	width: 700px;
	margin: auto;
	text-align: left;
	background-color: #454545;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
}

.footer {
	width: 700px;
	margin: auto;
	text-align: center;
	background-color: #454545;
	padding: 15px;
	box-sizing: border-box;
	font-size: 16px;
	border-top-style: dashed;
}
